* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    margin: 0 auto;
    width: clamp(280px, 100%, 1200px);
    background-color: var(--white-color);
    min-height: clamp(280px, calc(100vh - 460px), 100vh);
}

.header {
    width: 100%;
    min-height: 140px;
    box-shadow: var(--shadow-bottom);
    background-color: var(--white-color);
}

.footer {
    width: 100%;
    min-height: 320px;
    box-shadow: var(--shadow-top);
    background-color: var(--white-color);
}
